<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.19.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net462" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net462" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net462" />
  <package id="xunit.core" version="2.1.0" targetFramework="net462" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net462" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net462" />
</packages>